<!DOCTYPE html>
        <html>

            <head>
                <meta charset="utf-8">
                <title>{% block title %}{% endblock %} | IG_diet_app</title>
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">

            </head>
            {% load static %}
            <body style="background-image:url('{% static 'diet_app/bgrimg.jpg' %}');">

                <h1><center> IG_diet_app</center></h1>
            {% block content %} {% endblock %}
                <footer>
                {% if user.is_authenticated %}
                    <p>Zalogowany jako: {{ user }}</p>
                    <a href="/logout/">Wyloguj się</a>
                {% else %}
                    <a href="/login/">Zaloguj się</a>
                {% endif %}
            </footer>
            </body>
        </html>