{% extends 'diet_app/base.html' %}

{% block title %}Strona główna{% endblock %}

{% block content %}
    <p style="line-height: 1cm;">Witaj na stronie głównej aplikacji <b>IG-DIET-AP</b>. Aplikacja ta pozwoli Ci na poznanie przepisów dedykowanych dla
    osób będących na diecie z niskim indeksem glikemicznym. Każdy przepis znajdujący się w bazie rozpisany jest co
    do składnika pod kątem wartości indeksu glikemicznego. Dodatkowo w serwisie masz możliwość
    komponowania własnych przepisów oraz meal planów.</p>
    <p><center><button type="button" class="btn btn-primary btn-lg"><a href="/menu">Przejdź do menu</a></center></button></p>

{% endblock %}