{% extends 'diet_app/base.html' %}
{% block title %}{{ mealplan|upper }}{% endblock %}
{% block content %}
                <h2>{{ mealplan|upper }}</h2>
                <ul> <p>Posiłki:</p>
                {% for recipe in mealplan.recipemealplan_set.all %}
                    <li>{{ recipe.get_meal_display}}: {{ recipe }}</li>
                {% endfor %}
                </ul>
    <button type="button" class="btn btn-primary btn-lg"><a href="{% url 'add-recipemealplan' id=mealplan.id %}">
        Dodaj posiłek do meal planu</a></button>
    <button type="button" class="btn btn-primary btn-lg"><a href="{% url 'delete-mealplan' pk=mealplan.pk %}">
        Usuń meal plan</a></button>
<button type="button" class="btn btn-primary btn-lg"><a href="/mealplan_list">Powrót</a></button>

{% endblock %}