{% extends 'diet_app/base.html' %}

{% block title %}Menu{% endblock %}

{% block content %}
    <p><button type="button" class="btn btn-primary btn-lg"><a href="/recipe_list">Lista wszystkich przepisów</a></button></p>
    <p><button type="button" class="btn btn-primary btn-lg"><a href="/cuisine_list">Przepisy z podziałem na kuchnie</a></button></p>
    <p><button type="button" class="btn btn-primary btn-lg"><a href="/ingredients_list">Lista składników w bazie</a></button></p>
    <p><button type="button" class="btn btn-primary btn-lg"><a href="/mealplan_list">Lista meal planów</a></button></p>
    <p><button type="button" class="btn btn-primary btn-lg"><a href="/add_user">Dodaj nowego użytkownika</a></button></p>




{% endblock %}